//COLORS
$color_primary: #115e59;
$color_primary_light: #0d9488;
$color_primary_dark: #042f2e;

$color_secondary: #be123c;
$color_secondary_light: #fecdd3;
$color_secondary_dark: #9f1239;

$color_tertiary: #0c4440;

$color_grey_light: #f3f4f6;
$color_grey_dark: #455a64;

$color_white: #fff;
$color_black: #1f2937;

//SPACE
$testimonials_gap: 3.6rem;
$foundations_margin_vertical: 9.2rem;
