.moqrie {
  display: block;
  position: relative;
  &_form {
    &--items {
      margin: 0 auto;
      display: grid;
      row-gap: 1vw;
      column-gap: 1vw;
      grid-template-columns: repeat(2, 1fr);

      .input {
        &_label {
          font-size: 1vw;
          color: $color_black;
        }
        &_content {
          margin-top: 0.8vw;
          position: relative;
          width: 15vw;

          &--item {
            border-radius: 2px;
            background-color: $color_grey_light;
            border: none;
            padding: 1vw 3.4vw;
            width: 15vw;
            &::placeholder {
              color: rgba($color: $color_black, $alpha: 0.5);
              font-size: 1vw;
            }
            &:focus,
            &:active {
              outline: 1px solid $color_primary;
              box-shadow: 0 0 4px $color_primary;
            }
          }
        }
      }
    }
  }
}

.player {
  position: relative;
  margin-top: 6.4vw;
  .first_part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10vw;
    margin-right: 7.5vw;

    img {
      height: 2.2vw;
      width: 2.2vw;
      cursor: pointer;
    }
  }
  .second_part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5.6vw;
    margin-top: 2vw;
    h6 {
      font-size: 0.96vw;
      font-weight: 400;
      color: $color_grey_dark;
    }
    .line {
      width: 25vw;
      &_grey {
        width: 100%;
        border-bottom: 0.3vw solid $color_grey_light;
        border-radius: 0.4vw;
      }
      &_red {
        transform: translateY(100%);
        &--line {
          width: 50%;
          border-bottom: 0.3vw solid $color_secondary;
          border-radius: 0.4vw;
          box-shadow: 0 0 12px rgba($color: $color_secondary, $alpha: 1);
        }
        &--circle {
          position: absolute;
          background-color: $color_secondary;
          height: 1vw;
          width: 1vw;
          border: 3px solid $color_secondary;
          border-radius: 100%;
          transform: translateY(-40%);
          box-shadow: 0 0 1vw rgba($color: $color_secondary, $alpha: 1);
        }
      }
    }
  }
}
