@media (max-width: 900px) {
  .step-img-box {
    height: 30rem;
    width: 30rem;
  }
}

@media (min-width: 900px) {
  .step-img-box {
    height: 35rem;
    width: 35rem;
  }
}

@media (min-width: 1100px) {
  .step-img-box {
    height: 40rem;
    width: 40rem;
  }
}

@media (min-width: 1350px) {
  .step-img-box {
    height: 45rem;
    width: 45rem;
  }
}

@media (min-width: 1500px) {
  .step-img-box {
    height: 50rem;
    width: 50rem;
  }
}

@media (min-width: 1800px) {
  .step-img-box {
    height: 55rem;
    width: 55rem;
  }
}

@media (min-width: 2400px) {
  .step-img-box {
    height: 60rem;
    width: 60rem;
  }
}

@media (min-width: 2800px) {
  .step-img-box {
    height: 70rem;
    width: 70rem;
  }
}
