*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is 10px
  font-size: 62.5%;
  font-family: "Noto Kufi Arabic", sans-serif;
  position: relative;

  body {
    width: 100vw;
  }
}
