@media (max-width: 900px) {
  .heading_primary_hero {
    margin-top: 20vh;
    font-size: 4.4rem;
  }

  .heading_secondary_hero {
    font-size: 1.4rem;
  }

  .section-hero {
    &_main {
      &--text {
        width: 40rem;
      }
    }
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 1.4rem;
  }
  .heading_primary {
    font-size: 1.8rem;
    margin-bottom: 4.4rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 8.6rem;
  }
  .heading_secondary {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
  }

  .step-description {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 700px) {
  .heading_primary_hero {
    font-size: 3.6rem;
  }

  .heading_secondary_hero {
    font-size: 1.2rem;
  }

  .section-hero {
    &_main {
      &--text {
        width: 36rem;
      }
    }
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 0.96rem;
  }
  .heading_primary {
    font-size: 1.4rem;
    margin-bottom: 4.4rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 6.4rem;
    margin: 0 auto;
    text-align: center;
  }
  .heading_secondary {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    width: 75vw;
    text-align: center;
  }

  .step-description {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 70vw;
    margin-bottom: 5rem;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .heading_primary_hero {
    font-size: 6.8rem;
  }

  .heading_secondary_hero {
    font-size: 2.2rem;
  }

  .section-hero {
    &_main {
      &--text {
        width: 64rem;
      }
    }
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 2rem;
  }
  .heading_primary {
    font-size: 2.8rem;
    margin-bottom: 4.4rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 10.4rem;
  }
  .heading_secondary {
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
  }

  .step-description {
    font-size: 1.8rem;
    line-height: 4.4rem;
  }
}

@media (min-width: 1100px) {
  .heading_primary_hero {
    font-size: 7.4rem;
  }

  .heading_secondary_hero {
    font-size: 2.4rem;
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 2.4rem;
  }
  .heading_primary {
    font-size: 3.6rem;
    margin-bottom: 5.6rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 12.4rem;
  }
  .heading_secondary {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
  }

  .step-description {
    font-size: 2rem;
    line-height: 4.6rem;
  }
}

@media (min-width: 1350px) {
  .heading_primary_hero {
    font-size: 7.4rem;
  }

  .heading_secondary_hero {
    font-size: 2.4rem;
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 2.8rem;
  }
  .heading_primary {
    font-size: 4.2rem;
    margin-bottom: 6.4rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 14.4rem;
  }
  .heading_secondary {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .step-description {
    font-size: 2.4rem;
    line-height: 4.8rem;
  }
}

@media (min-width: 1500px) {
  .heading_primary_hero {
    font-size: 8.6rem;
  }

  .heading_secondary_hero {
    font-size: 2.8rem;
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 3.2rem;
  }
  .heading_primary {
    font-size: 4.8rem;
    margin-bottom: 7.2rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 16.4rem;
  }
  .heading_secondary {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .step-description {
    font-size: 2.8rem;
    line-height: 5rem;
  }
}

@media (min-width: 1800px) {
  ///////////////////////////////
  .step-number {
    font-size: 18rem;
  }
  .heading_secondary {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }

  .step-description {
    font-size: 3.2rem;
    line-height: 5.6rem;
  }
}

@media (min-width: 2400px) {
  .heading_primary_hero {
    font-size: 12.4rem;
  }

  .heading_secondary_hero {
    font-size: 4.4rem;
  }
  ///////////////////////////
  .section-hero {
    &_main {
      &--text {
        width: 96rem;
      }
    }
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 4.4rem;
  }
  .heading_primary {
    font-size: 5.6rem;
    margin-bottom: 7.8rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 20rem;
  }
  .heading_secondary {
    font-size: 3.8rem;
    margin-bottom: 4.4rem;
  }

  .step-description {
    font-size: 3.2rem;
    line-height: 5.8rem;
  }
}

@media (min-width: 2800px) {
  .heading_primary_hero {
    font-size: 14.4rem;
  }

  .heading_secondary_hero {
    font-size: 5.6rem;
  }
  ///////////////////////////////
  .section-hero {
    &_main {
      &--text {
        width: 120rem;
      }
    }
  }
  ///////////////////////////////
  .sub_heading_primary {
    font-size: 5.6rem;
  }
  .heading_primary {
    font-size: 6.4rem;
    margin-bottom: 8.6rem;
  }
  ///////////////////////////////
  .step-number {
    font-size: 24rem;
  }
  .heading_secondary {
    font-size: 4.4rem;
    margin-bottom: 5.6rem;
  }

  .step-description {
    font-size: 3.6rem;
    line-height: 6.2rem;
  }
}
