table {
  margin: 0 auto;
  margin-top: 8.4rem;
  border: 0;
  border-style: none;
  border-collapse: collapse;

  thead {
    th {
      width: 15rem;
      height: 5.6rem;
      background-color: $color_secondary_light;
      color: $color_black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;

      &:first-child,
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(9) {
        background-color: $color_white;
      }

      &:first-child {
        width: 23rem;
      }
    }
  }

  tbody {
    tr {
      th {
        background-color: $color_grey_light;
        width: 23rem;
        height: 5.6rem;
        color: $color_grey_dark;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
      }
      td {
        width: 15rem;
        height: 5.6rem;
        background-color: $color_secondary_light;
        color: $color_black;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;

        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(9) {
          background-color: $color_white;
        }
      }
    }
  }
}
