@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, calc(100vw / 3 - 1.3rem));
    grid-template-rows: repeat(3, calc(100vw / 3 - 1.3rem));
    .gallery_item {
      height: calc(100vw / 3 - 1.3rem);
      width: calc(100vw / 3 - 1.3rem);
    }
    img {
      filter: blur(1px);
    }
  }
}
