@media (max-width: 900px) {
  .input {
    &_label {
      font-size: 1.4rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 1.8rem 2.2rem;
        padding-right: 6.8rem;

        &::placeholder {
          font-size: 1rem;
        }
      }

      &--icon {
        top: 2rem;
        right: 3.2rem;

        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}

@media (min-width: 900px) {
  .input {
    &_label {
      font-size: 1.4rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 1.8rem 2.2rem;
        padding-right: 6.8rem;

        &::placeholder {
          font-size: 1rem;
        }
      }

      &--icon {
        top: 2rem;
        right: 3.2rem;

        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}

@media (min-width: 1100px) {
  .input {
    &_label {
      font-size: 1.6rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 2.2rem 2.8rem;
        padding-right: 6.8rem;

        &::placeholder {
          font-size: 1.2rem;
        }
      }

      &--icon {
        top: 2.2rem;
        right: 3.2rem;

        height: 2rem;
        width: 2rem;
      }
    }
  }
}

@media (min-width: 1350px) {
  .input {
    &_label {
      font-size: 1.8rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 2.4rem 3.2rem;
        padding-right: 7rem;

        &::placeholder {
          font-size: 1.4rem;
        }
      }

      &--icon {
        top: 2.4rem;
        right: 3.2rem;

        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}

@media (min-width: 1500px) {
  .input {
    &_label {
      font-size: 1.8rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 2.4rem 3.2rem;
        padding-right: 7rem;

        &::placeholder {
          font-size: 1.4rem;
        }
      }

      &--icon {
        top: 2.4rem;
        right: 3.2rem;

        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}

@media (min-width: 1800px) {
  .input {
    &_label {
      font-size: 2rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 2.8rem 8.2rem;
        padding-right: 7.2rem;

        &::placeholder {
          font-size: 1.6rem;
        }
      }

      &--icon {
        top: 2.4rem;
        right: 3.2rem;

        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }
}

@media (min-width: 2400px) {
  .input {
    &_label {
      font-size: 2.2rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 0.8rem;

      &--item {
        padding: 3.2rem 14.4rem;
        padding-right: 7.6rem;

        &::placeholder {
          font-size: 1.8rem;
        }
      }

      &--icon {
        top: 3.2rem;
        right: 3.2rem;

        height: 2.8rem;
        width: 2.8rem;
      }
    }
  }
}

@media (min-width: 2800px) {
  .input {
    &_label {
      font-size: 2.4rem;
    }
    &_content {
      margin-top: 0.8rem;
      gap: 1.2rem;

      &--item {
        padding: 4.2rem 20.4rem;
        padding-right: 9.6rem;

        &::placeholder {
          font-size: 2rem;
        }
      }

      &--icon {
        top: 4.2rem;
        right: 3.2rem;

        height: 3.2rem;
        width: 3.2rem;
      }
    }
  }
}
