@media (max-width: 900px) {
  .registration {
    &_form {
      width: 80vw;

      &--title {
        font-size: 2.4rem;
      }
      &--items {
        padding-top: 5.6rem;
        display: grid;
        row-gap: 2rem;
        column-gap: 8rem;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (min-width: 900px) {
  .registration {
    &_form {
      width: 80vw;
      &--title {
        font-size: 2.8rem;
      }
      &--items {
        padding-top: 5.6rem;
        display: grid;
        row-gap: 2rem;
        column-gap: 8rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 1100px) {
  .registration {
    &_form {
      &--title {
        font-size: 3.2rem;
      }
      &--items {
        padding-top: 9.6rem;
        display: grid;
        row-gap: 2rem;
        column-gap: 8rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 1350px) {
  .registration {
    &_form {
      &--title {
        font-size: 3.6rem;
      }
      &--items {
        padding-top: 9.6rem;
        display: grid;
        row-gap: 2rem;
        column-gap: 21rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 1500px) {
  .registration {
    &_form {
      &--title {
        font-size: 4rem;
      }
      &--items {
        padding-top: 9.6rem;
        display: grid;
        row-gap: 2rem;
        column-gap: 21rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 1800px) {
  .registration {
    &_form {
      &--title {
        font-size: 6rem;
      }
      &--items {
        padding-top: 6.4rem;
        display: grid;
        row-gap: 4rem;
        column-gap: 21rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 2400px) {
  .registration {
    &_form {
      &--title {
        font-size: 8rem;
      }
      &--items {
        padding-top: 6.4rem;
        display: grid;
        row-gap: 6rem;
        column-gap: 21rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 2800px) {
  .registration {
    &_form {
      &--title {
        font-size: 10rem;
      }
      &--items {
        padding-top: 6.4rem;
        display: grid;
        row-gap: 8rem;
        column-gap: 21rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
