.sides_margin {
  margin: 0 9.2rem;

  &--1 {
    margin-bottom: 7.2rem;
  }
}
.colored_word {
  color: $color_primary;
}
.invisible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.black {
  color: $color_primary_dark;
}
.focus {
  color: $color_primary;
  border-bottom: 0.5rem solid $color_primary;
}

.noMargin_bottom {
  margin-bottom: 0;
}
.nav-open {
  display: block;
}

.no-display {
  display: none;
}
