.btn-mobile-nav {
  border: none;
  background: none;
  align-self: center;
  display: none;
  position: absolute;
  top: 3.6rem;
  right: 8rem;
  transition: all 1s;
  z-index: 2000;
  cursor: pointer;

  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: $color_white;
  }
  .icon-mobile-nav[name="close-outline"] {
    display: none;
    color: $color_white;
  }

  .nav-background {
    background-color: rgba($color: $color_primary_dark, $alpha: 0.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: all 1s;
    opacity: 0;
  }
}

.section-schedule {
  .btn-mobile-nav {
    .icon-mobile-nav {
      color: $color_primary_dark;
      display: inline-block;

      &[name="close-outline"] {
        display: none;
        color: $color_white;
      }
    }
  }
}
.section-moqrie {
  .btn-mobile-nav {
    .icon-mobile-nav {
      color: $color_primary_dark;
      display: inline-block;

      &[name="close-outline"] {
        display: none;
        color: $color_white;
      }
    }
  }
}
.section-presentation {
  .btn-mobile-nav {
    .icon-mobile-nav {
      color: $color_primary_dark;
      display: inline-block;

      &[name="close-outline"] {
        display: none;
        color: $color_white;
      }
    }
  }
}
